In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4.	Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [8]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [10]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  7662 non-null   object
 1   Year             7662 non-null   int64
 2   Value            7662 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 239.6+ KB

In [12]:
gdp_df.info

<bound method DataFrame.info of      Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2021  1517.016266              NaN
1        Afghanistan  2020  1968.341002              NaN
2        Afghanistan  2019  2079.921861              NaN
3        Afghanistan  2018  2060.698973              NaN
4        Afghanistan  2017  2096.093111              NaN
...              ...   ...          ...              ...
7657        Zimbabwe  1994  2670.106615              NaN
7658        Zimbabwe  1993  2458.783255              NaN
7659        Zimbabwe  1992  2468.278257              NaN
7660        Zimbabwe  1991  2781.787843              NaN
7661        Zimbabwe  1990  2704.757299              NaN

[7662 rows x 4 columns]>

Question 5: 4 rows, 7662 rows, floats, integers, objects

In [20]:
gdp_df = gdp_df.drop('Value Footnotes', axis=1)

In [22]:
gdp_df = gdp_df.rename(columns={'Country or Area':'Country', 'Value':'GDP_Per_Capita'})

In [24]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7662 entries, 0 to 7661
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         7662 non-null   object
 1   Year            7662 non-null   int64
 2   GDP_Per_Capita  7662 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 179.7+ KB

In [26]:
gdp_df.info

<bound method DataFrame.info of           Country  Year  GDP_Per_Capita
0     Afghanistan  2021     1517.016266
1     Afghanistan  2020     1968.341002
2     Afghanistan  2019     2079.921861
3     Afghanistan  2018     2060.698973
4     Afghanistan  2017     2096.093111
...           ...   ...             ...
7657     Zimbabwe  1994     2670.106615
7658     Zimbabwe  1993     2458.783255
7659     Zimbabwe  1992     2468.278257
7660     Zimbabwe  1991     2781.787843
7661     Zimbabwe  1990     2704.757299

[7662 rows x 3 columns]>

In [28]:
gdp_df.isnull()
# not working here because i don't know which countries or how many have null values
# just showing a boolean and not the entire data set

      Country   Year  GDP_Per_Capita
0       False  False           False
1       False  False           False
2       False  False           False
3       False  False           False
4       False  False           False
...       ...    ...             ...
7657    False  False           False
7658    False  False           False
7659    False  False           False
7660    False  False           False
7661    False  False           False

[7662 rows x 3 columns]

In [34]:
gdp_df.isnull().sum().sum()
# confusing, this is supposed to show how many rows have null values?

0

In [36]:
gdp_df.isna()
# same result as the .null() function

      Country   Year  GDP_Per_Capita
0       False  False           False
1       False  False           False
2       False  False           False
3       False  False           False
4       False  False           False
...       ...    ...             ...
7657    False  False           False
7658    False  False           False
7659    False  False           False
7660    False  False           False
7661    False  False           False

[7662 rows x 3 columns]

#7 How many countries have data for all years? - Doesn't that just mean how many countries don't have null values in the
GDP column?
Count the countries that have full rows.... but not sure how many unique years there are in this data set to comply with the 'all years'? Does it just mean all years that the country is listed? So if Zimbabwe is only listed from 1990-1995, does that count? Or am I supposed to take into account that, say, China is in the set between 1979-2004?